<!DOCTYPE html>
<html>
<head>
	<title>KeyPass - PASSWORD MANAGER</title>
	<link rel="icon" type="image/x-icon" href="../static/images/title.ico">
	<link rel="stylesheet" type="text/css" href="../static/about.css">
	<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
	<link rel="stylesheet" href="https://kit.fontawesome.com/91ae1482eb.css" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/91ae1482eb.js" crossorigin="anonymous"></script>
</head>

<body id="abo_ut" class="about">
<!-- navigation bar -->
<div class="navbar">
  <a href="{{ url_for('index') }}">HOME</a>
  <a href="{{ url_for('why') }}">WHY US?</a>
  <a href="{{ url_for('installation') }}">INSTALLATION</a>
  <a href="about.html">ABOUT THE DEV</a>
  <a href="{{ url_for('login') }}" id="login">LOGIN>></a>
  <a href="{{ url_for('register') }}" id="login">REGISTER>></a>
</div>
	<h1 class="shadow">ABOUT THE DEV</h1>
</body>

<body>
	<div class="flex-container">
		<div class="image-container">
			<img src="https://media.licdn.com/dms/image/C4D03AQHtTNpM3j8Lsw/profile-displayphoto-shrink_800_800/0/1664270551603?e=1683158400&v=beta&t=FZ0_Jly2Oy_sJ9t1-ViLvjbXY0zsrCwGKaQ6ycxaEKc">
		</div>
		<div class="text-container">
			<p>As a Cyber Security enthusiast, I have been studying the field since late 2020 and have developed a strong proficiency in Linux, Wireshark, SQL, Python, Computer Forensics, Open-Source Intelligence, and Red Teaming.</p>
			<p>I am also familiar with Active Directory, Web Application Vulnerability at a beginner level and an intermediate level of German fluency.</p>
			<p>Completed several personal projects, including the one showcased on this website, and have gained valuable 5-months experience working in Cyber Security Content Development and Management.</p>
		</div>
	</div>

	<div class="refer">
		<a href="https://open.spotify.com/user/31rruxxnrkf7lar67whhbvjrg2pm?si=15b3a9912f924630">
			<i class="fa-brands fa-spotify"></i>
		</a>
		<a href="https://www.instagram.com/gaurav_taxali17/">
			<i class="fa-brands fa-instagram"></i>
		</a>
		<a href="https://github.com/gaurav16-byte">
			<i class="fa-brands fa-github"></i>
		</a>
		<a href="https://discordapp.com/users/511721302445522955">
			<i class="fa-brands fa-discord"></i>
		</a>
		<a href="https://www.reddit.com/user/ERr0rhm3">
			<i class="fa-brands fa-reddit"></i>
		</a>
		<a href="https://p.paytm.me/xCTH/xkd0vu7d">
			<i class="fa-brands fa-google-pay"></i>
		</a>
		<a href="https://p.paytm.me/xCTH/xkd0vu7d" id="paytm">Support -- https://p.paytm.me/xCTH/xkd0vu7d</a>
	</div>
</body>

</html>