<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KeyPass - PASSWORD MANAGER</title>
	<link rel="icon" type="image/x-icon" href="../static/images/title.ico">
	<link rel="stylesheet" type="text/css" href="../static/backup.css">
	<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
</head>
<body>
	<h1>BACKUP PASSWORDS</h1>
	<p id="beg">{{ output|safe }}</p>
<div id="flexbb" class="form-container">
  <form action="/backup" method="post">
    <div class="container">
      <label for="user"></label>
      <input type="text" id="user" name="user" placeholder="Enter Backup Key" required>
      <label for="password"></label>
      <input type="password" id="password" name="password" placeholder="Enter password" required>
      <button type="submit">BACKUP !</button>
      <p id="error">{{ err|safe }}</p>
    </div>
  </form>
</div>
</body>

</html>