<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KeyPass - PASSWORD MANAGER</title>
	<link rel="icon" type="image/x-icon" href="../static/images/title.ico">
	<link rel="stylesheet" type="text/css" href="../static/view.css">
	<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
</head>

<body>
	<h1>VIEW PASSWORDS</h1>
	<div id="viewdiv">
	<table class="table-style">
		<p>{{ table|safe }}</p>
	</table>
	</div>
</body>

</html>