<!DOCTYPE html>
<html>
<head>
	<title>KeyPass - PASSWORD MANAGER</title>
	<link rel="icon" type="image/x-icon" href="../static/images/title.ico">
	<link rel="stylesheet" type="text/css" href="../static/why.css">
	<script src="../static/static.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
</head>

<body class="why_us">
<!-- navigation bar -->
<div class="navbar">
  <a href="{{ url_for('index') }}">HOME</a>
  <a href="why.html">WHY US?</a>
  <a href="{{ url_for('installation') }}">INSTALLATION</a>
  <a href="{{ url_for('about') }}">ABOUT THE DEV</a>
  <a href="{{ url_for('login') }}" id="login">LOGIN>></a>
  <a href="{{ url_for('register') }}" id="login">REGISTER>></a>
</div>

<h1 id="text">WHY US?</h1>
<div class="why_">
	<div class="flex-why">
	  <div class="box">
		<h2>Safe and Secure</h2>
		<p>Just like other cloud-based password managers...</p>
		<p class="hidden">Keypass is super-secure, it encrypts all of your passwords with the stronges encryptions made till date.</p>
	  </div>
	  <div class="box">
		<h2>Encrypted Databases</h2>
		<p>Unlike a few password managers out there...</p>
		<p class="hidden">All the passwords in this manager are encrypted so that even after a breach, the database will be useless.</p>
	  </div>
	  <div class="box">
		<h2>Free Of Cost</h2>
		<p>Others allow you to store passwords for...</p>
		<p class="hidden">A limited time, there's always a hidden cost. In the terms of a backup or multi-device synchronization.</p>
	  </div>
	</div>
	<br>
	<div class="flex-why">
	  <div class="box">
		<h2>backup</h2>
		<p>You will be charged to create backups...</p>
		<p class="hidden">But not here. Just provide with the security key made for you in the beginning and you are good to go.</p>
	  </div>
	  <div class="box">
		<h2>Multi-OS support</h2>
		<p>Online or offline managers may allow...</p>
		<p class="hidden">You to work on multiple operating systems. Same here be it Windows, Mac or Linux.</p>
	  </div>
	  <div class="box">
		<h2>Offline</h2>
		<p>For multiple device synchronization...</p>
		<p class="hidden">You need internet. This is a single device password manager. No syncs, no passwords lost in the matrix!</p>
	  </div>
	</div>
	<br>
	<div class="flex-why">
	  <div class="box">
		<h2>Your device</h2>
		<p>Other managers being cloud-based...</p>
		<p class="hidden">Store your passwords in the cloud which are open to breaches. Keep your device safe and thus your passwords.</p>
	  </div>
	  <div class="box">
		<h2>Device safety</h2>
		<p>You are not allowed to get reckless...</p>
		<p class="hidden">But with this manager. Just keep your device safe because the databases are on your system itself.</p>
	  </div>
	  <div class="box">
		<h2>No repeated passwords</h2>
		<p>You are allowed to reuse passwords...</p>
		<p class="hidden">After 3-4 new passwords. Not here, password once used cannot be reused for the same service.</p>
	  </div>
	</div>
</div>
</body>
<hr>
</html>